
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* shere code */
.inter-google-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.btn {
    font-size: 16px;
    font-weight: 600;
    background-color: #30B868;
    padding: 12px 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: #fff;
    font-family: "Inter", sans-serif;
    display: inline-flex;     
    align-items: center;        
    gap: 5px;                  
}




/* main code */

nav {
    width: 100%;
    height: 100%;
    /* width: 83%;
    max-width: 1920px; */
    margin:  0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 16px 0;
}
nav .img {
    width: 139px;
    height: 60px;
}

nav .pera {
    display: flex;
}
nav .pera a {
    text-decoration: none;
    color: #000;
    margin-right: 32px;
    font-size: 16px;
    font-weight: 500;
}

nav .pera a p {
    
}

nav .pera p:last-child {
    margin-right: 0;
}
#hero-container  {
    background: url(assets2/hero-bg.png);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    text-align: center;
    align-items: center;
    justify-content: center;
    /* width:83%;
    max-width: 1920px; */
    margin: 0 auto;
    padding: 155px 120px 180px;
}

#hero-container .two-container .lt-p {
    padding: 0 717px;
    margin-bottom: 16px;
}
#hero-container .two-container .lt-p .pp {
   background-color: #fff;
   padding: 8px 12px;
   border-radius: 50px;
   font-size: 16px;
   font-weight: 500;
   color: #30B868;
}
#hero-container .onh {
    padding: 0 400px;
    margin-bottom: 20px;
}


#hero-container .onh .one {
    /* width: 770px;
    height: 168px; */
    font-size: 40px;
    font-weight: bold;
    line-height: 84px;
}
#hero-container .onh .one .green {
    color: #30B868;
}
#hero-container .onh .one .white {
    color:#fff;
}

#hero-container .two {
    padding: 0 500px;
    margin-bottom: 32px;
}

#hero-container .two p {
    font-size: 16px;
    line-height: 24px;
    color: #ffffffd8;
}


#hero-container .button .btn-under {
    font-size: 16px;
    font-weight: 600;
    border: 1px solid #fff;
    padding: 12px 16px;
    border-radius: 5px;
    cursor: pointer;
    color: #fff;
    font-family: "Inter", sans-serif;
    background: transparent;
}
#hero-container .button .btn img {
    width: 20px;
    height: 20px;
}

#header-two {
    width: 100%;
    max-width: 1920px;
    text-align: center;
}
#header-two .main-header{
    padding: 60px 400px;
}

#header-two .main-header h2 {
    font-size: 48px;
    font-weight: bold;
    color: #001931;
    margin: 16px;

}
#header-two .main-header p {
    color: #627382;
    font-size: 16px;
}
#header-two .card {
    display: flex;
    gap: 24px;
    margin-left: 360px;
}
#header-two .card .card-one {
    width: 322px;
    height: 300px;
    padding: 24px;
    /* box-shadow: 0 6px 50px 0 #00000021; */
    box-shadow: 0 -4px 30px rgba(0, 0, 0, 0.13);
    /* box-shadow: 0 0 30px rgba(0, 0, 0, 0.15); */
    /* box-shadow: inset 0 6px 12px -6px rgba(0, 0, 0, 0.3); */
    /* box-shadow: 0 -8px 30px rgba(0, 0, 0, 0.15),  
      8px 0 30px rgba(0, 0, 0, 0.12),   
     -8px 0 30px rgba(0, 0, 0, 0.12);  */
}
#header-two .card .card-one img {
    width: 60px;
    height: 60px;
    margin: 10px;
    padding: 13px;
    border-radius: 30px;
    background-color: #F95555;
}
#header-two .card .card-one h3 {
    font-size: 24px;
    font-weight: 600;
    margin-top: 16px;
    margin-bottom: 16px;
}

#header-two .card .card-one p {
    font-size: 16px;
    line-height: 20px;
    color: #627382;
}

#solution {
    width: 100%;
    max-width: 1920px;
    display: flex;
    text-align: left;
    justify-content: left;
    gap: 60px;
    padding: 120px;
    margin-left: 120px;
}
#solution .img-tag {
    margin-left: 120px;
}


#solution .solution-info {
    padding-top: 102px;
    padding-bottom: 102px;
}

#solution .solution-info .info-p {
    font-size: 16px;
    color: #469165;
    font-weight: 500;
}

#solution .solution-info h2 {
    font-size: 48px;
    font-weight: bold;
    color: #001931;
    margin-bottom: 16px;
    margin-top: 16px;
}

#solution .solution-info p {
    font-size: 16px;
    line-height: 20px;
    color: #627382;
    margin-bottom: 40px;
}

#solution .solution-info .check {
    display: flex;     
    font-weight: 500;
    font-size: 16px;
    align-items: center;        
    gap: 7px;
    color: #001931;
    margin-bottom: 16px;
    line-height: 19px;
}
#solution .solution-info .check:last-child {
    margin: none;
}
#challenge {
    display: block;
    padding-left: 240px;
    padding-right: 240px;
}


#challenge .challenge-content {
    margin: 0 120px 120px 120px;
    text-align: center;
    background-color: #F7F6F2;
    padding: 80px 0 80px;
}

#challenge .challenge-content h2 {
    font-size: 40px;
    font-weight: 700 ;
    color: #001931;
}
#challenge .challenge-content .margin {
    margin-top: 16px;
    margin-bottom: 24px;
}
#challenge .challenge-content button  {
    margin-bottom: 16px;
}
#challenge .challenge-content p {
    font-size: 16px;
    color: #627382;
    line-height: 24px;
}
