
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* shere code */
.inter-google-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

.btn {
    font-size: 16px;
    font-weight: 600;
    background-color: #30B868;
    padding: 12px 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: white;
    font-family: "Inter", sans-serif;
}




/* main code */

nav {
    width: 80%;
    max-width: 1920px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 0;
}
nav .img {
    width: 139px;
    height: 60px;
}

nav .pera {
    display: flex;
}

nav .pera p {
    margin-right: 32px;
    font-size: 16px;
    font-weight: 500;
}

nav .pera p:last-child {
    margin-right: 0;
}

